[submodule "src/django-sha2"]
	path = src/django-sha2
	url = git://github.com/fwenzel/django-sha2.git
[submodule "src/commonware"]
	path = src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "src/jingo"]
	path = src/jingo
	url = git://github.com/jbalogh/jingo.git
[submodule "src/tower"]
	path = src/tower
	url = git://github.com/clouserw/tower.git
[submodule "src/jingo-minify"]
	path = src/jingo-minify
	url = git://github.com/jsocol/jingo-minify.git
[submodule "src/django-nose"]
	path = src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "src/test-utils"]
	path = src/test-utils
	url = git://github.com/jbalogh/test-utils.git
[submodule "src/django-mozilla-product-details"]
	path = src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details
[submodule "src/nuggets"]
	path = src/nuggets
	url = git://github.com/mozilla/nuggets.git
[submodule "src/bleach"]
	path = src/bleach
	url = git://github.com/jsocol/bleach.git
[submodule "funfactory"]
	path = funfactory
	url = git://github.com/mozilla/funfactory.git
[submodule "src/funfactory"]
	path = src/funfactory
	url = git://github.com/mozilla/funfactory.git
[submodule "src/django-session-csrf"]
	path = src/django-session-csrf
	url = git://github.com/mozilla/django-session-csrf.git
[submodule "src/django-mobility"]
	path = src/django-mobility
	url = git://github.com/jbalogh/django-mobility.git
[submodule "src/django-multidb-router"]
	path = src/django-multidb-router
	url = git://github.com/jbalogh/django-multidb-router.git
[submodule "src/django-cronjobs"]
	path = src/django-cronjobs
	url = git://github.com/jsocol/django-cronjobs.git
[submodule "src/django-compressor"]
	path = src/django-compressor
	url = git://github.com/jezdez/django_compressor.git
[submodule "src/django-appconf"]
	path = src/django-appconf
	url = git://github.com/jezdez/django-appconf.git
