[submodule "src/django"]
	path = src/django
	url = git://github.com/django/django
[submodule "src/django-sha2"]
	path = src/django-sha2
	url = git://github.com/fwenzel/django-sha2.git
[submodule "src/commonware"]
	path = src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "src/jingo"]
	path = src/jingo
	url = git://github.com/jbalogh/jingo.git
[submodule "src/tower"]
	path = src/tower
	url = git://github.com/clouserw/tower.git
[submodule "src/jingo-minify"]
	path = src/jingo-minify
	url = git://github.com/jsocol/jingo-minify.git
[submodule "src/schematic"]
	path = src/schematic
	url = git://github.com/jbalogh/schematic.git
[submodule "src/django-nose"]
	path = src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "src/test-utils"]
	path = src/test-utils
	url = git://github.com/jbalogh/test-utils.git
[submodule "src/django-mozilla-product-details"]
	path = src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details
